.App{
  margin: 0 auto;
  width: 90%;
  display: grid;
  background-color: aqua;
  grid-template-columns: 1fr 1fr;
  gap:.5rem;
}
.Left{
    display: grid;
    grid-template-rows: 1fr;
    gap:5rem;
    padding: 15px;
}
.Right{
    padding: 15px;
}

.Search{
    border-style: grove;
    background-color: aquamarine;
    border-radius: .5rem;
    padding: 15px;
}
.Search input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    
}
.Search button{
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}


.VideoPlayer{
    border-style: grove;
    background-color: rgb(98, 141, 127);
    border-radius: .5rem;
    padding: 15px;
}
.VideoList{
    
    border-style: grove;
    background-color: rgb(131, 155, 148);
    border-radius: .5rem;
    padding-left: 5px;
    padding-right: 35px;
}

.entry{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: groove;
    width: 100%;
    
}

.titleDescrip{
    border-style: groove;
   
}
.titleDescrip h6{
    font-weight: lighter;
    margin-top: 3px;
    margin-bottom: 3px;
}

.titleDescrip .title{
    font-weight: bold;
}

.thumb{
    border-style: groove;
    
}

